html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*fait que le body va occuper toute la fenetre*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.2;
}

/* tete de la page*/
header {
    background-color: rgb(44, 44, 44);
}

/*contenu principale de la page*/
main {
    background-color: rgb(255, 255, 255);
    flex: 1;
}

/*pied de la page*/
footer {
    background-color: rgb(44, 44, 44);
    color: #FFD700;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    line-height: 1.5;
}

/*tire*/
h1 {
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFD700;
    text-align: center;
}

/*resize img*/
img.div {
    width: 300px;
    height: 300px;
}

/*div diagnostique*/
div.dia {
    display: inline-block;
    padding: .5rem;
}

/*aligner au milieux du page*/
.center {
    text-align: center;
}

/*historique des photos*/
div.historique {
    max-width: 1100px;
    min-width: 712px;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}